[submodule "GreaperCore"]
	path = GreaperCore
	url = https://github.com/malium/GreaperCore
[submodule "GreaperMath"]
	path = GreaperMath
	url = https://github.com/malium/GreaperMath
[submodule "GreaperGAL"]
	path = GreaperGAL
	url = https://github.com/malium/GreaperGAL
[submodule "cJSON"]
	path = cJSON
	url = https://github.com/malium/cJSON
[submodule "External/tomlplusplus"]
	path = External/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
